# Python 项目 .gitignore

# Byte-compiled
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Labexp
*.pdf
docs/

# 豁免产出文件
!*{{ student_id }}*.pdf
